<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <!--开始投注时间-->
    <add key="startTime" value="10:02"/>
    <!--结束投注时间-->
    <add key="endTime" value="23:49"/>
    <!--自动投注node程序所在路径-->
    <add key="nodeAppPath" value="C:\\GitHub\\game-play-simulator\\dist"/>
    <!--起始投注倍数-->
    <add key="beginDoubleCount" value="1"/>
    <!--元角分模式：  元：1,  角：10，  分：100，  厘：1000-->
    <add key="awardModel" value="1"/>
    <!--当前账户最大值 单位：元  值0:表示不限制-->
    <add key="maxAccountReached" value="180"/>
    <!--当前账户最小值 单元：元  值0:表示不限制-->
    <add key="maxLoseAccountReached" value="0"/>
  </appSettings>
</configuration>
